<div class="container">

    <h3>
        <img src="../../assets/img/empleado.png" alt="logoCliente" class="tamImg"> Empleado
    </h3>

    <div class="col-md-12 col-lg-12 col-xl-12" style="text-align: right;">
        <a routerLink='/empleado-am' class="btn btn-info">
            <img src="../../assets/img/agregar-usuario.png" class="tamId"> Agregar
        </a>
    </div>

    <table class="table table-hover colorB">
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="">
                    <a href="#" class="btn btn-warning">
                        <img src="../../assets/img/editar.png" class="tamI"> Editar
                    </a>
                    &nbsp;
                    <button type="button" class="btn btn-danger">
                        <img src="../../assets/img/basura.png" class="tamI"> 
                        Eliminar
                    </button>
                </td>

                <td class="tamCol" id="listaEmpleados">Maricruz Gonzalez Ledesma</td>
            </tr>
        </tbody>
    </table>

</div>