<div class="example-container">

    <a class="list-group-item color" (click)="toggle('/principal')">
        <img src="../../assets/img/inicio.png" alt="logo inicio" class="tamI"> INICIO
    </a>
    <a class="list-group-item color" (click)="toggle('/cliente')">
        <img src=" ../../assets/img/agenda.png " alt="logo inicio " class="tamI "> CLIENTE
    </a>

    <a class="list-group-item color " (click)="toggle('/empleado')">
        <img src="../../assets/img/empleado.png " alt="logo inicio " class="tamI "> EMPLEADO
    </a>

    <a class="list-group-item color " (click)="toggle('/producto')">
        <img src="../../assets/img/frutas.png " alt="logo inicio " class="tamI "> PRODUCTO
    </a>

    <a class="list-group-item color " (click)="toggle('/venta')">
        <img src="../../assets/img/punto-de-venta.png " alt="logo inicio " class="tamI "> VENTA
    </a>

    <a class="list-group-item color " (click)="toggle('/adeudo')">
        <img src="../../assets/img/pago.png " alt="logo inicio " class="tamI "> ADEUDOS
    </a>

</div>