.tamImg{
    width: 25px;
    height: 25px;   
}

.colorB{
    background-color:white;
}

.tamCol{
    width: 80px;
}

.tamI{
    width: 16px;
    height: 16px;
}
.tamId{
    width: 18px;
    height: 18px;
}