<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div background="../../assets/img/logoMA.png">

    <div class="formHeader">
        <div class=" col-sm-3 col-md-2 col-xl-2">
            <img src="../../assets/img/logoV.png" alt="logo" style="width:180px; ">
        </div>

        <div class="col-md-10 col-sm-10 col-lg-10 col-xl-10 textA">
            Citricos selectos <br> G&M <br> Central de Abastos, Bodega B22, Queretaro, Qro

        </div>
    </div>

</div>